output/
*.build
*.deb
*.tar.gz
*.dsc
*.changes
*.debhelper.log
*.debhelper
*.substvars
*.o
*/debian/libmosquitto-dev/*
*/debian/libmosquitto1/*
*/debian/libmosquittopp-dev/*
*/debian/libmosquittopp1/*
*/debian/mosquitto-clients/*
*/debian/mosquitto-dbg/*
*/debian/mosquitto-dev/*
*/debian/mosquitto/*
*/debian/wb-rules-system/*
*.swp
*.un~

**/debian/files
**/debian/*.debhelper
**/debian/*.debhelper.log
**/debian/*.substvars

utils/debian/wb-utils/
wb-utils_*.deb
wb-utils_*.changes

configs/debian/wb-configs/
wb-configs_*.*
*.pyc

.tern-port
