Source: wb-configs
Section: config
Priority: extra
Maintainer: Evgeny Boger <boger@contactless.ru>
Build-Depends: debhelper (>= 8.0.0), config-package-dev (>= 5.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>

Package: wb-configs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, wb-utils (>= 1.53), inotify-tools, mosquitto (>= 1.4.7-1), watchdog
Provides: ${diverted-files}, mqtt-wss
Conflicts: ${diverted-files}, mqtt-wss
Replaces: mqtt-wss
Description: Default config files for Wiren Board rootfs
