Source: wb-common
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: python
Priority: optional
XS-Python-Version: >= 2.7
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), dh-python
Standards-Version: 3.9.1

Package: python-wb-common
Architecture: all
Provides: ${python:Provides}
Depends: ${misc:Depends}, python (>= 2.7)
Description: Wiren Board Python common library and helpers
