connection wb_devices_cloud.wb_SERIAL
address contactless.ru
notifications true
notification_topic /client/wb_SERIAL/bridge_status
keepalive_interval 20
restart_timeout 20

topic /devices/#  both 2 "" /client/wb_SERIAL
topic /config/#  both 2 "" /client/wb_SERIAL
topic /rpc/#  both 2 "" /client/wb_SERIAL

username wb_SERIAL
password PASSWORD
