Source: wb-utils
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, u-boot-tools (>= 2015.07+wb-3), inotify-tools, pv, nginx-extras, python-wb-common (>= 1.1)
Conflicts: wb-configs (<= 1.54)
Description: Wiren Board command-line utils
