Source: wb-test-suite
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-test-suite
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, mosquitto, python-wb-io (>= 1.2), gammu, python-gspread, python-httplib2, python-crypto, python-oauth2client (>= 2.0.1), wb-hwconf-manager (>= 1.6), wb-utils (>= 1.65), python-wb-common (>= 1.1), python-gsmmodem-new
Description: Wiren Board functional testing suite
