Package: wb-configs
Version: 1.50
Architecture: all
Maintainer: Evgeny Boger <boger@contactless.ru>
Installed-Size: 167
Depends: wb-utils (>= 1.042)
Conflicts: diverts-etc++apt++sources.list, diverts-etc++default++hostapd, diverts-etc++default++rc+s+, diverts-etc++dnsmasq.conf, diverts-etc++fstab, diverts-etc++gai.conf, diverts-etc++hostapd.conf, diverts-etc++hostname, diverts-etc++inittab, diverts-etc++locale.gen, diverts-etc++modules, diverts-etc++network++interfaces, diverts-etc++nfc++libnfc.conf, diverts-etc++nginx++sites-available++default, diverts-etc++ppp++chap-secrets, diverts-etc++rc.local, diverts-root++.bashrc
Provides: diverts-etc++apt++sources.list, diverts-etc++default++hostapd, diverts-etc++default++rc+s+, diverts-etc++dnsmasq.conf, diverts-etc++fstab, diverts-etc++gai.conf, diverts-etc++hostapd.conf, diverts-etc++hostname, diverts-etc++inittab, diverts-etc++locale.gen, diverts-etc++modules, diverts-etc++network++interfaces, diverts-etc++nfc++libnfc.conf, diverts-etc++nginx++sites-available++default, diverts-etc++ppp++chap-secrets, diverts-etc++rc.local, diverts-root++.bashrc
Section: config
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Default config files for Wiren Board rootfs
